*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
    Font-size: 18px;
}
.nav-1{
    color: hsl(229, 31%, 21%);
    font-size: 12px !important;
    font-weight: 500;
}
.nav-1:hover{
    color: hsl(0, 94%, 66%) !important ;
}
.hamburger{
    color: #eee;
    background-color: #dee;
    border: 2px solid #000;
}
.login{
    background-color: hsl(0, 94%, 66%);
    color: white !important;
    border: 1px solid;
    border-radius: 5px;
}
.login:hover{
    color: hsl(0, 94%, 66%) !important;
    background-color: white;
    border-color: hsl(0, 94%, 66%);
}