*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
    Font-size: 18px;
}
.nav-1{
    color: hsl(229, 31%, 21%);
    font-size: 12px !important;
    font-weight: 500;
}
.hamburger{
    color: #eee;
    background-color: #dee;
}