*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
    Font-size: 18px;
}
body::before {
    display: block;
    content: '';
    height: 140px;
   } 
.nav-1{
    color: hsl(229, 31%, 21%);
    font-size: 12px !important;
    font-weight: 500;
}
.nav-1:hover{
    color: hsl(0, 94%, 66%) !important ;
}
.hamburger{
    color: #eee;
    background-color: #dee;
    border: 2px solid #000;
}
.login{
    background-color: hsl(0, 94%, 66%);
    color: white !important;
    border: 1px solid;
    border-radius: 5px;
}
.login:hover{
    color: hsl(0, 94%, 66%) !important;
    background-color: white;
    border-color: hsl(0, 94%, 66%);
}


/* hero section */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 10;
}
.hero-heading{
    color:hsl(229, 31%, 21%);
    font-weight: 500;
}
.hero-para{
    color: hsl(229, 8%, 60%);
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
}
.chrome{
    font-size: 14px !important;
    font-weight: 500;
    background-color: hsl(231, 69%, 60%) ;
    border: 2px solid  hsl(231, 69%, 60%);
    margin-bottom: 15px;
}
.chrome:hover{
    color: hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
    background-color: #fff;
}

.firefox{
    font-size: 14px !important;
    font-weight: 500;
    background-color:rgb(240, 240, 240) ;
    color: #696969;
    margin-left: 10px;
    border: 2px solid rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 15px;
}
.firefox:hover{
    background-color: #fff;
    color: #808080;
    border: 2px solid #808080;
}
.hero-image{
    max-width: 60% !important;
    height: auto;
}
.blue-background{
    content: '';
    width: 600px;
    height: 300px;
    background-color: hsl(231, 69%, 60%);
    border-radius: 100px 0 0 100px;
    position: absolute;
    right: 0%;
    top: 50%;
    align-items: flex-end;
    z-index: -10;
}
@media screen and (max-width:1440px){
    .blue-background{
        top: 35%;
        width: 600px;
        height: 300px;
    }
}

@media screen and (max-width:1024px) {
    .blue-background{
        width: 350px;
        height: 300px ;
        top: 28%;
    }
}

@media screen and (max-width:768px){
    .blue-background{
        width: 300px;
        height: 150px;
        top: 38%;
    }
    .hero-image{
        padding: 0px !important;
        max-width: 50% !important;
    }
    .hero-sec{
        padding-top: 0px!important;
    }
}
@media screen and (max-width:706px){
    .hero-heading{
        font-size: 25px !important;
    }
}
@media screen and (max-width:648px){
    .hero-heading{
        font-size: 25px !important;
    }
    .hero-para{
        font-size: 16px !important;
        line-height: 26px !important ;
    }
    .hero-sec{
        padding: 0px 15px!important;
        
    }
}
@media screen and (max-width:607px){
    .hero-heading{
        font-size: 25px !important;
    }
    .hero-para{
        font-size: 16px !important;
        line-height: 26px !important ;
    }
    .hero-sec{
        padding: 0px 15px!important;
        
    }
}
@media screen and (max-width:500px){
    .hero{
        flex-wrap: wrap-reverse;
    }
    .hero-image{
        max-width: 80% !important;
        margin-left: 80px !important;
    }
    .blue-background{
        top: 40%;
    }
    .navbar{
        padding: 30px !important;
    }
}
@media screen and (max-width:475px){
    
    .hero-image{
        max-width: 80% !important;
        margin-left: 40px !important;
    }
    .blue-background{
        top: 35%;
        width: 250px;
    }
}
@media screen and (max-width:375px){
    
    .hero-image{
        max-width: 80% !important;
        margin-left: 40px !important;
    }
    .blue-background{
        top: 30%;
        width: 250px;
    }
}


/*    section-2   */

    .feature-heading{
        color: hsl(229, 31%, 21%);
    font-weight: 500;
    }


    .feature-info{
        width: 500px;
        color:hsl(229, 8%, 60%) ;
        font-weight: 400;
        font-size: 18px;
    }
    @media screen and (max-width:500px) {
        .feature-info{
            width: 400px;
        }
    }
    @media screen and (max-width:425px) {
        .feature-info{
            width: 350px;
            font-size: 16px;
        }
    }  @media screen and (max-width:375px) {
        .feature-info{
            width: 300px;
            margin: auto 0px;
            font-size: 14px;
        }
    }


    .tobo{
        color:hsl(229, 8%, 60%);
        font-weight: 500;
        font-size: 16px;
    }
    .active{
        border-bottom: 3px solid hsl(0, 94%, 66%) !important;
        color:  hsl(229, 31%, 21%) ;
    }
    .tobo:hover{
        color: hsl(0, 94%, 66%) !important;
    }
    
    /*   tab     */
    .tab{
        z-index: 10;
    }
    .tab-heading{
        color:hsl(229, 31%, 21%);
        font-weight: 500;
    }
    .tab-para{
        color: hsl(229, 8%, 60%);
        font-weight: 400;
        font-size: 18px;
        line-height: 31px;
    }
    .more-info{
        font-size: 14px !important;
        font-weight: 500;
        background-color: hsl(231, 69%, 60%) ;
        border: 2px solid  hsl(231, 69%, 60%);
        margin-bottom: 15px;
    }
    .more-info:hover{
        color: hsl(231, 69%, 60%);
        border: 2px solid hsl(231, 69%, 60%);
        background-color: #fff;
    }
    .tab-image{
        max-width: 100% !important;
        height: auto;
        padding-left: 0px !important;
    }

     #blucapsule2{
        position: absolute;
        background-color: hsl(231, 69%, 60%);
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        height: 350px;
        width: 600px;
        z-index: -10;
    }
    .no-active .active{
        border-bottom: 0px !important;
    }
    @media screen and (max-width:768px){
        .tab-image{
            max-width: 60% !important;
            height: auto;
        }
        .tobo{
            padding: 10px 15px !important;
        }
        .tab-heading{
            font-size: 25px !important;
            padding-top:30px ;
        }
        .tab-para{
            font-size: 16px !important;
            line-height: 25px;
            margin-top: 0px !important;
        }
    }
    @media screen and (max-width:425px){
        .tab-image{
            max-width: 100% !important;
            height: auto;
        }


        .tobo{
            padding: 10px 48px !important;
        }  
    }    

            /*    section 3  */

    .download-heading{
        color: hsl(229, 31%, 21%);
        font-weight: 500;
    }
    .download-info{
        width: 500px;
        color:hsl(229, 8%, 60%) ;
        font-weight: 400;
        font-size: 18px;
    }

    .chrome-img{
        width: 100px;
        height: 100px;
    }
